.pixel {
  height: 15px;
  width: 15px;
  border-style:solid;
  border-color: grey;
  margin: 1px;
}
.container div{
  /* display: inline;
  float: left; */
}

.palette{
  margin-top: 3em;
}
.palette div{
  display: inline;
  float: left;
}
.red {
  background-color: red;
}
.blue{
  background-color: blue;
}
.orange{
  background-color: orange;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.purple{
  background-color: purple;
}

.pink{
  background-color: pink;
}

.grey{
  background-color: grey;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.brown{
  background-color: brown;
}
